.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: brightness(50%); */
  box-shadow: inset 0px -40px 40px #000;
}

.home::after {
  background-color: #fff;
}

.profile__foto {
  filter: brightness(70%);
  border-radius: 50%;
  border: 5px solid var(--primary-color);
}

.profile {
  display: flex;
  align-items: center;
  gap: 48px;
}

.profile__text {
  font-size: 1.5rem;
}

.profile__name {
  font-size: 4rem;
  color: var(--primary-color);
}
.curriculo{
  padding: 10px 10px;
  background-color: var(--icon-color);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}



